.signup-form {
    float: right;
    padding: 10px 10px;
}
signup-image{
    float: right !important;
}
@font-face {
    font-family: Yekan;
    src: url('../fonts/yekan-font/Yekan.eot');
    src: url('../fonts/yekan-font/Yekan.eot?#iefix') format('FontName-opentype'),
    url('../fonts/yekan-font/Yekan.woff') format('woff'),
    url('../fonts/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "Yekan";
}
.divTable
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}

.divRow
{
    display:table-row;
    width:auto;
}

.divCell
{
    float:right;/*fix for  buggy browsers*/
    display:table-column;
    width:auto;
    padding: 5px 5px 5px 5px
}
.divCell-text{
    width: 90px;
    float:right;/*fix for  buggy browsers*/
    display:table-column;
    padding: 5px 5px 5px 5px
}
